@font-face{
  src: url("../fonts/PressStart2P-Regular.woff") format("woff"); 
  font-family: 'PressStart2P';
}
@font-face{
  src: url("Inter-Variable.woff2") format("woff2"); 
  font-family: 'Inter';
  font-variation-settings: auto;
}