/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-image: url(../images/background.png);
  font-family: var(--page-main-font-family);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}
.header{
  width: var(--header-width);
  height: clamp(327px 368px);
  justify-self: center;
  margin: 100px 0 102px 0;
  background-color: var(--header-background-color);
  border: 2px solid black;
  font-family: var(--page-accent-font-family);
  text-transform: uppercase;
}
.header_text-box{
  margin: var(--header-side-margins-for-text-box);
  display: flex;
  flex-direction: column;
  align-items: center;   
}
.header_title{
  font-size: var(--header-title-font-size);
}
.smaller{
  font-size: clamp(14px, var(--header-text-size), 23px);
}


/*cartochki*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card{
  display: flex;
  flex-direction: column;
  width: var(--card-width);
  border: 2px solid black;
  background-color: var(--card-background-color);
  font-size: var(--card-font-size);
}
.card-title{
  font-size: inherit;
}

.card_watermark{
  position:absolute;
  left: 300px;
  bottom: 90px;
  color: red;
}
.card_image{
  width: inherit;
  height: var(--card-image-height);
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.card_text-box{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

.saturation_less{
  filter:saturate(0.2);
}
.saturation_more{
  filter: saturate(5);
}

.inverse_less{
  filter: invert(0.3);
}

.inverse_more{
  filter: invert(0.8);
}

.gray{
  filter: grayscale(0.9);
}

.blur{
  filter:blur(1);
}